body {
    background-color: #F5F5F5;
}
.file-container {
    margin-bottom: 10px;
    height: 100px;
    background-color: #FFF;

}

.file-image {
    width: 100px;
    height: 100px;
    float: left;
}

.file-desc {
    padding: 10px;
    margin-left: 100px;
}
