body {
    background-color: #F5F5F5;
    padding-top: 70px;
}

.note-container {
    padding: 10px 10px 10px 10px;
    background-color: #FFF;
    margin-bottom: 20px;
}

.file-container {
    margin-bottom: 10px;
    height: 100px;
    background-color: #FFF;
}

.file-image {
    width: 100px;
    height: 100px;
    float: left;
}

.file-details {
    padding: 10px;
    margin-left: 100px;
}
